.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__inside {
    background: white;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 15px;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
